body {
  background-color: lightblue;
  font-family: "Muli", sans-serif;
  color: black;
  text-align: center;
  font-size: 14px;
}

.img1 {
  width: 135px;
  margin-bottom: -10px;
  float: center;
}

.img2 {
  width: 180px;
  margin-bottom: 5px;
  float: center;
}

span.signup {
  float: center;
}

button {
  background-color: #0000cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom: -2.9px;
  font-size: 13px;
}

.sign_up_button {
  background-color: #3366ff;
  border: 1px solid black;;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5.5%;
  cursor: pointer;
}

.go_back_button {
  background-color: #3366ff;
  border: 2px solid black;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5%;
  cursor: pointer;
}

.go_back_button2 {
  background-color: #3366ff;
  border: 2px solid black;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5%;
  cursor: pointer;
  margin-top: -22px;
  margin-bottom: 26px;
}

.logout_button {
  background-color: #3366ff;
  border: 1px solid black;
  font-size: 10px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5%;
  cursor: pointer;
}

.submit_button {
  background-color: #0000cc;
  color: white;
  padding: 10px 10px;
  margin: 21px 0;
  border: 3px solid black;
  cursor: pointer;
  width: 20%;
  margin-top: 17.5px;
}

.invalid_user_button {
  background-color: #3366ff;
  border: 2px solid black;
  margin: 5px;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 6.3%;
  cursor: pointer;
}

.existing_user_button {
  background-color: #3366ff;
  border: 2px solid black;
  margin: 5px;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 8%;
  cursor: pointer;
}

.existing_user_button {
  background-color: #3366ff;
  border: 2px solid black;
  margin: 5px;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 8%;
  cursor: pointer;
}

.book_button {
  background-color: #0000cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  font-size: 13px;
  text-decoration: none;
}

.home_button {
  background-color: #3366ff;
  border: 2px solid black;
  font-size: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 4.7%;
  margin-top: 25px;
  cursor: pointer;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h1 {
  background-color: #0088cc;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-style: bold;
  font-size: x-large;
  padding: 8px;
  border-style: outset;
  border-color: #0000cc;
}

h2 {
  color: #0000cc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 28px;
  float: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h4 {
  font-size: 11.4px;
  font-weight: normal;
  text-align: center;
}

h5 {
  font-size: 12.2px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 17.8px;
}
