<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>
      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>
      <h2>Bryant Park</h2>
      <p><b>Bryant Park</b> is the closest facility to you!</p>
      <p>The address is <b><font color="#0000cc">bet. 5 and 6 Av, W 40 St and W 42 St</font></b></p>
      <br>
      <a href="https://www.nycgovparks.org/parks/bryant-park" target="_blank" class="book_button">Click here to book!</a>
      <br>
      <a href="/index" class="home_button">Home</a>

    </body>
</html>
