<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>
      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>
      <h2>Chelsea Piers Basketball</h2>
      <p><b>Chelsea Piers Basketball</b> is the closest facility to you!</p>
      <p>The address is <b><font color="#0000cc">60 Chelsea Piers, New York, NY 10011</font></b></p>
      <br>
      <a href="https://www.chelseapiers.com/fitness/basketball/" target="_blank" class="book_button">Click here to book!</a>
      <br>
      <a href="/index" class="home_button">Home</a>

    </body>
</html>
