<html>
    <head>
      <title>Directions to Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Directions to Facility</h1>

      <img src="/../static/logo.png" alt="Logo" class="img1">

      <h2>Chelsea</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/location_results">
          <!-- need event_name and event_date using two text input (bonus- use date) -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "16th Street and 7th Avenue">16th Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "20th Street and 7th Avenue">20th Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "24th Street and 7th Avenue">24th Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "28th Street and 7th Avenue">28th Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "32nd Street and 7th Avenue">32nd Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "16th Street and 8th Avenue">16th Street and 8th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "20th Street and 8th Avenue">20th Street and 8th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "24th Street and 8th Avenue">24th Street and 8th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "28th Street and 8th Avenue">28th Street and 8th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "31st Street and 8th Avenue">31st Street and 8th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "16th Street and 9th Avenue">16th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "20th Street and 9th Avenue">20th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "24th Street and 9th Avenue">24th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "28th Street and 9th Avenue">28th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "31st Street and 9th Avenue">31st Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "36th Street and 9th Avenue">36th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "40th Street and 9th Avenue">40th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "16th Street and 10th Avenue">16th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "20th Street and 10th Avenue">20th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "24th Street and 10th Avenue">24th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "28th Street and 10th Avenue">28th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "31st Street and 10th Avenue">31st Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "36th Street and 10th Avenue">36th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "40th Street and 10th Avenue">40th Street and 10th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "24th Street and 11th Avenue">24th Street and 11th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "28th Street and 11th Avenue">28th Street and 11th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "31st Street and 11th Avenue">31st Street and 11th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "36th Street and 11th Avenue">36th Street and 11th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "40th Street and 11th Avenue">40th Street and 11th Avenue<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
