<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>
      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>
      <h2>De Witt Clinton Park</h2>
      <p><b>De Witt Clinton Park</b> is the closest facility to you!</p>
      <p>The address is <b><font color="#0000cc">W. 52 St. To W. 54 St., 11 Ave. To 12 Ave.</font></b></p>
      <br>
      <a href="https://www.nycgovparks.org/parks/de-witt-clinton-park" target="_blank" class="book_button">Click here to book!</a>
      <br>
      <a href="/index" class="home_button">Home</a>

    </body>
</html>
