<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>East Harlem</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "104th Street and Park Avenue">104th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "108th Street and Park Avenue">108th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "112th Street and Park Avenue">112th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "116th Street and Park Avenue">116th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "120th Street and Park Avenue">120th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "124th Street and Park Avenue">124th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "104th Street and 3rd Avenue">104th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "108th Street and 3rd Avenue">108th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "112th Street and 3rd Avenue">112th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "116th Street and 3rd Avenue">116th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "120th Street and 3rd Avenue">120th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "124th Street and 3rd Avenue">124th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "104th Street and 1st Avenue">104th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "108th Street and 1st Avenue">108th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "112th Street and 1st Avenue">112th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "116th Street and 1st Avenue">116th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "120th Street and 1st Avenue">120th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "124th Street and 1st Avenue">124th Street and 1st Avenue<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
