<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>East Village</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "6th Street and 3rd Avenue">6th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and 3rd Avenue">10th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and 3rd Avenue">14th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and 2nd Avenue">2nd Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and 2nd Avenue">6th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and 2nd Avenue">10th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and 2nd Avenue">14th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and 1st Avenue">2nd Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and 1st Avenue">6th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and 1st Avenue">10th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and 1st Avenue">14th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and Avenue A">2nd Street and Avenue A<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and Avenue A">6th Street and Avenue A<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and Avenue A">10th Street and Avenue A<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and Avenue A">14th Street and Avenue A<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and Avenue B">2nd Street and Avenue B<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and Avenue B">6th Street and Avenue B<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and Avenue B">10th Street and Avenue B<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and Avenue B">14th Street and Avenue B<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and Avenue C">2nd Street and Avenue C<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and Avenue C">6th Street and Avenue C<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and Avenue C">10th Street and Avenue C<br></input>
          <input type = "radio" name = "specific_location" value = "14th Street and Avenue C">14th Street and Avenue C<br></input>
          <input type = "radio" name = "specific_location" value = "2nd Street and Avenue D">2nd Street and Avenue D<br></input>
          <input type = "radio" name = "specific_location" value = "6th Street and Avenue D">6th Street and Avenue D<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and Avenue D">10th Street and Avenue D<br></input>
          <input type = "radio" name = "specific_location" value = "13th Street and Avenue D">13th Street and Avenue D<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
