<html>
    <head>
      <title>Directions to Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Directions to Facility</h1>

      <img src="/../static/logo.png" alt="Logo" class="img1">

      <h2>Financial District</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/location_results">
          <!-- need event_name and event_date using two text input (bonus- use date) -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "Broad Street and Water Street">Broad Street and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Old Slip and Water Street">Old Slip and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Maiden Lane and Water Street">Maiden Lane and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broad Street and Water Street">Broad Street and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Fulton Street and Pearl Street">Fulton Street and Pearl Street<br></input>
          <input type = "radio" name = "specific_location" value = "Peck Slip and Pearl Street">Peck Slip and Pearl Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broadway and Beaver Street">Broadway and Beaver Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broad Street Beaver Street">Broad Street Beaver Street<br></input>
          <input type = "radio" name = "specific_location" value = "William Street Beaver Street">William Street Beaver Street<br></input>
          <input type = "radio" name = "specific_location" value = "Wall Street and William Street">Wall Street and William Street<br></input>
          <input type = "radio" name = "specific_location" value = "Cedar Street and William Street">Cedar Street and William Street<br></input>
          <input type = "radio" name = "specific_location" value = "Platt Street and William Street">Platt Street and William Street<br></input>
          <input type = "radio" name = "specific_location" value = "Fulton Street and William Street">Fulton Street and William Street<br></input>
          <input type = "radio" name = "specific_location" value = "Beekman Street and William Street">Beekman Street and William Street<br></input>
          <input type = "radio" name = "specific_location" value = "Battery Place and Broadway">Battery Place and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Rector Street and Broadway">Rector Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Liberty Street and Broadway">Liberty Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Dey Street and Broadway">Dey Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Vesey Street and Broadway">Vesey Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Park Place and Broadway">Park Place and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Warren Street and Broadway">Warren Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Battery Place and Greenwich Street">Battery Place and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Edgar Street and Greenwich Street">Edgar Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Carlisle Street and Greenwich Street">Carlisle Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Cedar Street and Greenwich Street">Cedar Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Cortlandt Way and Greenwich Street">Cortlandt Way and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Vesey Street and Greenwich Street">Vesey Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Park Place and Greenwich Street">Park Place and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Warren Street and Greenwich Street">Warren Street and Greenwich Street<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
