<html>
    <head>
      <title>Directions to Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Directions to Facility</h1>

      <img src="/../static/logo.png" alt="Logo" class="img1">

      <h2>Financial District</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/location_results">
          <!-- need event_name and event_date using two text input (bonus- use date) -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "Broad Street and Water Street">Broad Street and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Old Slip and Water Street">Old Slip and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Maiden Lane and Water Street">Maiden Lane and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broad Street and Water Street">Broad Street and Water Street<br></input>
          <input type = "radio" name = "specific_location" value = "Fulton Street and Pearl Street">Fulton Street and Pearl Street<br></input>
          <input type = "radio" name = "specific_location" value = "Peck Slip and Pearl Street">Peck Slip and Pearl Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broadway and Beaver Street">Broadway and Beaver Street<br></input>
          <input type = "radio" name = "specific_location" value = "Broad Street Beaver Street">Broad Street Beaver Street<br></input>
          <input type = "radio" name = "specific_location" value = "William Street Beaver Street">Beaver Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Wall Street and William Street">Beaver Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Cedar Street and William Street"> <br></input>
          <input type = "radio" name = "specific_location" value = "Platt Street and William Street"> <br></input>
          <input type = "radio" name = "specific_location" value = "Fulton Street and William Street"> <br></input>
          <input type = "radio" name = "specific_location" value = "Beekman Street and William Street"> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
