<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>
      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>
      <h2>Gertrude Ederle Recreation Center</h2>
      <p><b>Gertrude Ederle Recreation Center</b> is the closest facility to you!</p>
      <p>The address is <b><font color="#0000cc">232 West 60th Street, New York, NY 10023</font></b></p>
      <br>
      <a href="https://www.nycgovparks.org/facilities/recreationcenters/M063" target="_blank" class="book_button">Click here to book!</a>
      <br>
      <a href="/index" class="home_button">Home</a>

    </body>
</html>
