<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Greenwich Village</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "Leroy Street and Greenwhich Street">Leroy Street and Greenwhich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Christopher Street and Greenwhich Street">Christopher Street and Greenwhich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Perry Street and Greenwhich Street">Perry Street and Greenwhich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Bethune Street and Greenwhich Street">Bethune Street and Greenwhich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Horatio Street and Greenwhich Street">Horatio Street and Greenwhich Street<br></input>
          <input type = "radio" name = "specific_location" value = "13th Street and 9th Avenue">13th Street and 9th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Leroy Street and 7th Avenue">Leroy Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Commerce Street and 7th Avenue">Commerce Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Christopher Street and 7th Avenue">Christopher Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Perry Street and 7th Avenue">Perry Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "13th Street and 7th Avenue">13th Street and 7th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Bleecker Street and 6th Avenue">Bleecker Street and 6th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "West 4th Street and 6th Avenue">West 4th Street and 6th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "8th Street and 6th Avenue">8th Street and 6th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "11th Street and 6th Avenue">11th Street and 6th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "13th Street and 6th Avenue">13th Street and 6th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Bleecker Street and Thompson Street">Bleecker Street and Thompson Street<br></input>
          <input type = "radio" name = "specific_location" value = "3rd Street and Thompson Street">3rd Street and Thompson Street<br></input>
          <input type = "radio" name = "specific_location" value = "8th Street and 5th Avenue">8th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "10th Street and 5th Avenue">10th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "12th Street and 5th Avenue">12th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "Bleecker Street and Mercer Street">Bleecker Street and Mercer Street<br></input>
          <input type = "radio" name = "specific_location" value = "3rd Street and Mercer Street">3rd Street and Mercer Street<br></input>
          <input type = "radio" name = "specific_location" value = "Washington Place and Mercer Street">Washington Place and Mercer Street<br></input>
          <input type = "radio" name = "specific_location" value = "8th Street and Mercer Street">8th Street and Mercer Street<br></input>
          <input type = "radio" name = "specific_location" value = "Bond Street and Lafayette Street">Bond Street and Lafayette Street<br></input>
          <input type = "radio" name = "specific_location" value = "West 4th Street and Lafayette Street">West 4th Street and Lafayette Street<br></input>
          <input type = "radio" name = "specific_location" value = "8th Street and Lafayette Street">8th Street and Lafayette Street<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
