<html>
    <head>
      <title>Directions to Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Directions to Facility</h1>

      <img src="/../static/logo.png" alt="Logo" class="img1">

      <h2>Login</h2>
      <h3><form action = "/login" method = "POST">
    <!-- need event_name and event_date using two text input (bonus- use date) -->
        <label for="name">Username</label>
        <br>
        <input type = "text" placeholder="Enter Username" name = "username"></input>
        <br>
        <label for="password">Password</label>
        <br>
        <input type = "password" placeholder="Enter Password" name = "password"></input>
        <br>
    <!-- need submit button -->
        <button type = "submit" value = "Log In"/>Login</button>
      </form></h3>
      <h4><span class="signup">Need an account? <a href="/signup" class="sign_up_button">Sign Up</a></span>
      </h4>
    </body>
</html>
