<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Little Italy</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "Hester Street and Chrystie Street">Hester Street and Chrystie Street<br></input>
          <input type = "radio" name = "specific_location" value = "Grand Street and Chrystie Street">Grand Street and Chrystie Street<br></input>
          <input type = "radio" name = "specific_location" value = "Delancey Street and Chrystie Street">Delancey Street and Chrystie Street<br></input>
          <input type = "radio" name = "specific_location" value = "Stanton Street and Chrystie Street">Stanton Street and Chrystie Street<br></input>
          <input type = "radio" name = "specific_location" value = "Hester Street and Eldridge Street">Hester Street and Eldridge Street<br></input>
          <input type = "radio" name = "specific_location" value = "Grand Street and Eldridge Street">Grand Street and Eldridge Street<br></input>
          <input type = "radio" name = "specific_location" value = "Delancey Street and Eldridge Street">Delancey Street and Eldridge Street<br></input>
          <input type = "radio" name = "specific_location" value = "Stanton Street and Eldridge Street">Stanton Street and Eldridge Street<br></input>
          <input type = "radio" name = "specific_location" value = "Hester Street and Orchard Street">Hester Street and Orchard Street<br></input>
          <input type = "radio" name = "specific_location" value = "Grand Street and Orchard Street">Grand Street and Orchard Street<br></input>
          <input type = "radio" name = "specific_location" value = "Delancey Street and Orchard Street">Delancey Street and Orchard Street<br></input>
          <input type = "radio" name = "specific_location" value = "Stanton Street and Orchard Street">Stanton Street and Orchard Street<br></input>
          <input type = "radio" name = "specific_location" value = "Hester Street and Essex Street">Hester Street and Essex Street<br></input>
          <input type = "radio" name = "specific_location" value = "Grand Street and Essex Street">Grand Street and Essex Street<br></input>
          <input type = "radio" name = "specific_location" value = "Delancey Street and Essex Street">Delancey Street and Essex Street<br></input>
          <input type = "radio" name = "specific_location" value = "Stanton Street and Essex Street">Stanton Street and Essex Street<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
