<html>
    <head>
        <title>Directions to Facility</title>
    </head>
    <body>
      <h1>Directions to Facility</h1>
      {% if session %}<p><a href="/mylocations">My Locations</a></p>{% endif %}
      <div class="general_location_list">
        <ul>
          {% for location in locations %}
            <li>{{ location.general_location }} - {{ location.sport }}</li>
          {% endfor %}
      </div>
      {% if session %}
        <p> You are logged in as {{ session ['username'] }}.</p>

        <p></p><a href = "/logout">Logout<a/></p>
      {% else %}
      <h3>Log in<h3>
      <form action = "/login" method = "POST">
    <!-- need event_name and event_date using two text input (bonus- use date) -->
        <label for="name">Name</label>
        <input type = "text" name = "username"></input>
        <label for="password">Password</label>
        <input type = "password" name = "password"></input>
    <!-- need submit button -->
        <input type = "submit" value = "Log In"/></input>
      </form>
      <p>Need an account? <a href="/signup">Sign up.</a></p>
      {% endif %}
    </body>
</html>
