<html>
    <head>
      <title>Directions to Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Directions to Facility</h1>

      <img src="/../static/logo.png" alt="Logo" class="img1">

      <h2>Lower East Side</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/location_results">
          <!-- need event_name and event_date using two text input (bonus- use date) -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = ""> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <input type = "radio" name = "specific_location" value = " "> <br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
