<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Midtown East</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "43rd Street and 5th Avenue">43rd Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "46th Street and 5th Avenue">46th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "49th Street and 5th Avenue">49th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "52nd Street and 5th Avenue">52nd Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "55th Street and 5th Avenue">55th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "58th Street and 5th Avenue">58th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "43rd Street and Madison Avenue">43rd Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "46th Street and Madison Avenue">46th Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "49th Street and Madison Avenue">49th Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "52nd Street and Madison Avenue">52nd Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "55th Street and Madison Avenue">55th Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "58th Street and Madison Avenue">58th Street and Madison Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "43rd Street and Lexington Avenue">43rd Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "46th Street and Lexington Avenue">46th Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "49th Street and Lexington Avenue">49th Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "52nd Street and Lexington Avenue">52nd Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "55th Street and Lexington Avenue">55th Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "58th Street and Lexington Avenue">58th Street and Lexington Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "43rd Street and 2nd Avenue">43rd Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "46th Street and 2nd Avenue">46th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "49th Street and 2nd Avenue">49th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "52nd Street and 2nd Avenue">52nd Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "55th Street and 2nd Avenue">55th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "58th Street and 2nd Avenue">58th Street and 2nd Avenue<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
