<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Morningside Heights</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "111th Street and Manhattan Avenue">111th Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "113th Street and Manhattan Avenue">113th Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "115th Street and Manhattan Avenue">115th Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "117th Street and Manhattan Avenue">117th Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "119th Street and Manhattan Avenue">119th Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "121st Street and Manhattan Avenue">121st Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "123rd Street and Manhattan Avenue">123rd Street and Manhattan Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "111th Street and Amsterdam Avenue">111th Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "113th Street and Amsterdam Avenue">113th Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "115th Street and Amsterdam Avenue">115th Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "117th Street and Amsterdam Avenue">117th Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "119th Street and Amsterdam Avenue">119th Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "121st Street and Amsterdam Avenue">121st Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "123rd Street and Amsterdam Avenue">123rd Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "La Salle Street and Amsterdam Avenue">La Salle Street and Amsterdam Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "111th Street and Broadway">111th Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "113th Street and Broadway">113th Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "115th Street and Broadway">115th Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "117th Street and Broadway">117th Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "119th Street and Broadway">119th Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "121st Street and Broadway">121st Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "123rd Street and Broadway">123rd Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "La Salle Street and Broadway">La Salle Street and Broadway<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
