<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Murray Hill</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "35th Street and 5th Avenue">35th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "37th Street and 5th Avenue">37th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "39th Street and 5th Avenue">39th Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "41st Street and 5th Avenue">41st Street and 5th Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "35th Street and Park Avenue">35th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "37th Street and Park Avenue">37th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "39th Street and Park Avenue">39th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "41st Street and Park Avenue">41st Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "35th Street and 3rd Avenue">35th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "37th Street and 3rd Avenue">37th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "39th Street and 3rd Avenue">39th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "41st Street and 3rd Avenue">41st Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "35th Street and 1st Avenue">35th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "37th Street and 1st Avenue">37th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "39th Street and 1st Avenue">39th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "41st Street and 1st Avenue">41st Street and 1st Avenue<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
