<html>
    <head>
        <title>Directions to Facility</title>
    </head>
    <body>
      <h1>Sign Up</h1>
          <!-- set up a form with a post method and results action -->
      <form action = "/signup" method = "POST">
      <!-- need event_name and event_date using two text input (bonus- use date) -->
        <label for="name">Name</label>
        <input type = "text" name = "username"></input>
        <label for="password">Password</label>
        <input type = "password" name = "password"></input>
      <!-- need submit button -->
        <input type = "submit" value = "Sign Up"/></input>
      </form>
    </body>
</html>
