<html>
    <head>
        <title>Directions to Facility</title>
    </head>
    <body>
      <h1>Sign Up</h1>
          <!-- set up a form with a post method and results action -->
      <form method = "post" action = "/signup">
      <!-- need event_name and event_date using two text input (bonus- use date) -->
        <p>User email address</p>
        <input type = "text" name = "email"></input>
        <p>User password</p>
        <input type = "password" name = "password"></input>
      <!-- need submit button -->
        <input type = "submit" value = "submit"/></input>
      </form>
    </body>
</html>
