<html>
    <head>
        <title>Directions to Facility</title>
    </head>
    <body>
      <h1>Specific Location</h1>
      <div class="specific_location_list">
        <ul>
          {% for location in specific_locations %}
            <li>{{location.specific_location}}</li>
          {% endfor %}
          <!-- set up a form with a post method and results action -->
      <form method = "post" action = "/results">
      <!-- need event_name and event_date using two text input (bonus- use date) -->
      <p>Choose one of the following specific locations, based on your previous answer!</p>
      <input type = "radio" name = "specific_location" value = "110th Street and Central Park West">110th Street and Central Park West<br>
      </form>
        </ul>
      </div>
    </body>
</html>
