<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Sport</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/sport_results">
          <p>Click on the specific location below to confirm it is correct!</p>
          <input type = "radio" name = "specific_location" value = "{{specific_location}}">{{specific_location}}</input>
          <!-- need sport -->
          <p>Choose one of the following sports!</p>
          <input type = "radio" name = "sport" value = "Basketball">Basketball<br></input>
          <input type = "radio" name = "sport" value = "Soccer">Soccer<br></input>
          <input type = "radio" name = "sport" value = "Tennis">Tennis<br></input>
          <input type = "radio" name = "sport" value = "Golf">Golf<br></input>
          <input type = "radio" name = "sport" value = "Ice Skate">Ice Skate<br></input>
          <input type = "radio" name = "sport" value = "Swim">Swim<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
    </body>
</html>
