<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Tribeca</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "Reade Street and Broadway">Reade Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Thomas Street and Broadway">Thomas Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Leonard Street and Broadway">Leonard Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "White Street and Broadway">White Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Lispenard Street and Broadway">Lispenard Street and Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Reade Street and Church Street">Reade Street and Church Street<br></input>
          <input type = "radio" name = "specific_location" value = "Thomas Street and Church Street">Thomas Street and Church Street<br></input>
          <input type = "radio" name = "specific_location" value = "Leonard Street and Church Street">Leonard Street and Church Street<br></input>
          <input type = "radio" name = "specific_location" value = "White Street and Church Street">White Street and Church Street<br></input>
          <input type = "radio" name = "specific_location" value = "Lispenard Street and Church Street">Lispenard Street and Church Street<br></input>
          <input type = "radio" name = "specific_location" value = "Reade Street and West Broadway">Reade Street and West Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Thomas Street and West Broadway">Thomas Street and West Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Leonard Street and West Broadway">Leonard Street and West Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "White Street and West Broadway">White Street and West Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Lispenard Street and West Broadway">Lispenard Street and West Broadway<br></input>
          <input type = "radio" name = "specific_location" value = "Reade Street and Greenwich Street">Reade Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Jay Street and Greenwich Street">Jay Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Franklin Street and Greenwich Street">Franklin Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Beach Street and Greenwich Street">Beach Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Laight Street and Greenwich Street">Laight Street and Greenwich Street<br></input>
          <input type = "radio" name = "specific_location" value = "Desbrosses Street and Greenwich Street">Desbrosses Street and Greenwich Street<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
