<html>
    <head>
      <title>Nearest Sports Facility</title>
      <link rel="icon" type="image/png" href="/../static/logo.png">
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <body>
      <h1>Nearest Sports Facility</h1>

      <a href="/index"><img src="/../static/logo.png" alt="Logo" class="img1"></a>

      <h2>Upper East Side</h2>
          <!-- set up a form with a post method and results action -->
          <form method = "post" action = "/specific_location_results">
          <!-- need specific_location -->
          <p>Choose one of the following specific locations!</p>
          <input type = "radio" name = "specific_location" value = "60th Street and 1st Avenue">60th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "65th Street and 1st Avenue">65th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "70th Street and 1st Avenue">70th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "75th Street and 1st Avenue">75th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "80th Street and 1st Avenue">80th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "85th Street and 1st Avenue">85th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "90th Street and 1st Avenue">90th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "95th Street and 1st Avenue">95th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "100th Street and 1st Avenue">100th Street and 1st Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "60th Street and 2nd Avenue">60th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "65th Street and 2nd Avenue">65th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "70th Street and 2nd Avenue">70th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "75th Street and 2nd Avenue">75th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "80th Street and 2nd Avenue">80th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "85th Street and 2nd Avenue">85th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "90th Street and 2nd Avenue">90th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "95th Street and 2nd Avenue">95th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "100th Street and 2nd Avenue">100th Street and 2nd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "60th Street and 3rd Avenue">60th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "65th Street and 3rd Avenue">65th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "70th Street and 3rd Avenue">70th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "75th Street and 3rd Avenue">75th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "80th Street and 3rd Avenue">80th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "85th Street and 3rd Avenue">85th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "90th Street and 3rd Avenue">90th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "95th Street and 3rd Avenue">95th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "100th Street and 3rd Avenue">100th Street and 3rd Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "60th Street and Park Avenue">60th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "65th Street and Park Avenue">65th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "70th Street and Park Avenue">70th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "75th Street and Park Avenue">75th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "80th Street and Park Avenue">80th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "85th Street and Park Avenue">85th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "90th Street and Park Avenue">90th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "95th Street and Park Avenue">95th Street and Park Avenue<br></input>
          <input type = "radio" name = "specific_location" value = "100th Street and Park Avenue">100th Street and Park Avenue<br></input>
          <!-- need submit button -->
          <button type = "submit" value = "Submit" class = "submit_button"/>Submit</button>
          </form>
          <a href="/general_location" class="go_back_button2">Go Back</a>
    </body>
</html>
